<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
    <a class="nav-item nav-link" id="logout" href="{{ url_for('logout') }}">Logout</a>
    </div>
    </div>
    <h1>Hello you are logged in.</h1>
    <a href="{{url_for('home')}}">Press here to go to House Price App</a>
    
</body>

</html>